.ContenedorTarjeta{
    margin: 0% auto;
    width: 90%;
    height: 500px;
    background-color: rgb(81, 138, 212);
    justify-content: center;
    display: flex;
    align-items: center;
}
.Tarjeta{
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 380px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
}
 .Tarjeta img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
 }