.pieDiv{
    background-color: black;
    width: 100%;
    display: flex;
}
.pieIzqDiv{
    color: rgb(168, 168, 168);
    width: 50%;
    text-align: left;
    padding-left: 20px;

}

.piederDiv{
    color: rgb(168, 168, 168);
    width: 50%;
    text-align: right;
    padding-right: 20px;
}