.promosContenido{
    background-image: url('./assets/bmw fondooo.jpg');
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    margin: auto;
    min-height: 200px;

}
.promosContenido h2{
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
.promosContenido p{
    color: aliceblue;
    font-family: Arial, sans-serif;
    padding: 10px;
}

